<div class="auth-container login-container">

    <% if(techInfoHtml) {%>
    <p class="tech-info"><%= techInfoHtml %></p>
    <% } %>

    <div class="auth-columns">

        <div class="auth-col auth-col-form">
            <%= formHtml %>
        </div>
        <div class="auth-col auth-col-promo">
            <div class="auth-promo-text ru">
                <h2 class="auth-promo-header">Добро пожаловать в GeoRitm!</h2>
                <p>Контролируйте свою недвижимость и мобильные объекты с помощью облачного сервиса GeoRitm.</p>
                <p><a target="_blank" href="http://www.ritm.ru/software/detail.php?SECTION_ID=229&ELEMENT_ID=1351">Ваши выгоды и возможности с GeoRitm</a></p>
                <h2 class="auth-promo-header">GeoRitm для мобильных устройств</h2>
                <p>Установите официальное приложение GeoRitm и сохраняйте контроль, где бы Вы ни находились.</p>
            </div>
            <div class="auth-promo-text en">
                <h2 class="auth-promo-header">Welcome to GeoRitm!</h2>
                <p>Control your real estate and mobile objects using the cloud-based GeoRitm service.</p>
                <p><a target="_blank" href="http://www.ritm.ru/en/">
                    Your benefits and opportunities with the GeoRitm service
                </a></p>
                <h2 class="auth-promo-header">GeoRitm for mobile devices</h2>
                <p>Install the official GeoRitm application and keep control wherever you are.</p>
            </div>
            <div class="auth-promo-text it">
                <h2 class="auth-promo-header">Benvenuti in GeoRitm!</h2>
                <p>Controlla il tuo immobile e gli oggetti mobili utilizzando il servizio GeoRitm basato su cloud.</p>
                <p><a target="_blank" href="http://www.ritm.ru/en/">
                    I vantaggi e le opportunità con il servizio GeoRitm
                </a></p>
                <h2 class="auth-promo-header">GeoRitm per dispositivi mobili</h2>
                <p>Installare l'applicazione ufficiale GeoRitm e mantenere il controllo ovunque si trovi.</p>
            </div>
            <div class="auth-promo-text de">
                <h2 class="auth-promo-header">Willkommen Sie bei GeoRitm!</h2>
                <p>Kontrolliere deine Immobilien und mobile Objekte mit dem Cloud-basierten GeoRitm Service.</p>
                <p><a target="_blank" href="http://www.ritm.ru/en/">
                    Ihre Vorteile und Möglichkeiten mit dem GeoRitm Service
                </a></p>
                    <h2 class="auth-promo-header">GeoRitm für mobile Geräte</h2>
                <p>Installiere die offizielle GeoRitm-Anwendung und kontrolliere dich, wo immer du bist.</p>
            </div>
            <div class="auth-promo-stores">
                <a href="https://play.google.com/store/apps/details?id=org.apache.cordova.GeoritmMobileFree" target="_blank" class="auth-promo-stores-item android"></a>
                <a href="https://itunes.apple.com/us/app/georitm/id1166967285?l=ru&ls=1&mt=8" target="_blank" class="auth-promo-stores-item ios"></a>
            </div>
        </div>
    </div>

</div>


